.formLogin{
    transition: margin-top 0.2s ease;
    max-width: 540px;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;

    .loginLogo{
        text-transform: uppercase;
        color:#678098;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
    }
    .loginText{
        font-weight: 600;
        font-size: 18px;
        text-align: center;
    }
    .formItem{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    
        label{
            font-size: 14px;
        }
    }
    .loginForgotPassword{
        display: flex;
        justify-content: flex-end;
        margin-bottom:24px;
    }
    .loginForgotPasswordText{
        color: #1677ff;
        text-align: left;
    }
}
.error {
    margin-top: -50px; /* Изменяем margin-top при ошибке (можете выбрать подходящее значение) */
  }

#usernameInput, #passwordInput{
    width: 100%;
    height: 50px;
    font-size: 25px;
}



#loginSubmit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    height: 50px;
    background-color: #678098;
    }

#alertError{
    margin-top: 20px;
}