.orderProduct{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #fafafa;
    padding: 10px;
    @media screen and (max-width:850px) {
        width: 100%;
    }
}

.table{
    width: 100%;
}

.productName{
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

